.homeContainer {
    display: flex;
}

.homeContainer > div:nth-child(odd){
    flex: 0.2;
}

.homeContainer >div:nth-child(even) {
    flex: 0.6;
}

.homeContainer__leftBar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.sideBarOptions {
    display: flex;
    align-items:flex-start;
    font-size: 1.2rem;
    display:flex;
    gap:1rem;
    width:80%;
    max-width: 100%;
    margin: 0;
    padding-left: 0.2rem;
    cursor: pointer;
    transition: all 0.2s;
}
.sideBarOptions:hover {
    transform: scale(1.01);
}

.sideBarOptions > svg {
    max-width: 1.2em;
    min-width:1.2em;
}
