.homeContainer {
    display: flex;
}

.homeContainer > div:nth-child(odd){
    flex: 0.2;
}

.homeContainer >div:nth-child(even) {
    flex: 0.6;
}

.homeContainer__leftBar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;
    border-right: 1px solid rgb(226, 222, 222);
    
}

.sideBarOptions {
    display: flex;
    align-items:flex-start;
    font-size: 1.2rem;
    display:flex;
    gap:1rem;
    width:80%;
    max-width: 100%;
    margin: 0;
    padding-left: 0.2rem;
    cursor: pointer;
    transition: all 0.2s;
}
.sideBarOptions:hover {
    transform: scale(1.01);
}

.sideBarOptions > svg {
    max-width: 1.2em;
    min-width:1.2em;
}

.homeContainer__extracontainer {
    border-left : 1px solid rgb(222, 222, 222);
    padding-left: 1.2rem;
}

.homeContainer__feedContainer {
    padding-inline: 0.8rem;
}

.mobileNavBar{
    display: flex;
}
.mobileNavBar{
    position: fixed;
    bottom:0;
    left:0;
    width: 100vw;
    height: 6vh;
    display: none;
    justify-content: space-around;
    background: white;
    align-items: center;
    border-top :1px solid #e0e0e0;

}

.singleNavItemHolder_mobileView {
    cursor: pointer;

}

.mobileNavBar svg {
    height: 2rem;
    width:2rem;

}


@media only screen and (max-width: 600px){
    .homeContainer__extracontainer {
        display: none;
    }
    .homeContainer {
        display: block;
    }
    .homeContainer__leftBar {
        display: none;
    }
    .mobileNavBar {
        display: flex;
    }

    .homeContainer__feedContainer {
        padding-bottom: 8vh;
    }
}