.container {
    padding: 1.2rem;
    top:0;
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBaroptionContainer{
    display :flex;
}
.navBar p{
    margin: 0;
    display: flex;
    align-items: center;
}

.buttonJoin {
     width: fit-content;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;
    margin-top: 0.8rem;
    font-size: 1.4rem;
    background-color: rgb(177, 40, 120);
    color :white;
    padding-inline: 1.2rem;
    padding-block: 0.6rem;
    border-radius: 20px;
}