.container {
    padding: 1.1rem;
    background: rgb(255, 255, 255);
}

.backDropContainer {
    width: 100%;
    height: 30vh;
    background: url("https://tse1.mm.bing.net/th/id/OIP.zbv4A57onPleikp9LWKLhwHaCa?cb=ucfimgc2&rs=1&pid=ImgDetMain&o=7&rm=3");
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    border-radius:20px;

}

.backDropContainer img{
    width: 10em;
    height: 10em;
    object-fit:cover;
    border-radius: 50%;
    position: absolute;
    bottom: -20%;
    left :5%;
    text-align: center;


}

.profileContainer__details {
    padding-top: 6.6rem;
}

.card {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.card__profileContainer {
    display: flex;
}

.card__profileContainer>img {
    width: 3.4rem;
    height: auto;
    height : 3.4rem;
    object-fit: cover;
}

.connectBtn {
    padding-inline: 0.8rem;
    padding-block: 0.3rem;
    background: rgb(3, 93,183, 0.905);
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.workHistoryContainer {
    display: flex;
    gap: 1.4rem;
    padding-top: 1.4rem;
    width:100%;
    flex-wrap: wrap;
}

.workHistoryCard {
    min-width: fit-content;
    padding-inline: 2.5rem;
    padding-block: 1rem;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgb(254, 254, 254);
}
.backDrop__overlay {
    width: 10rem;
    height: 10em;
    object-fit: cover;
    border-radius : 50%;
    position: absolute;
    bottom : -20%;
    left :5%;
    text-align: center;
    z-index: 4;
    transition: all 0.4s;
    cursor: pointer;
    color: white;

}

.backDrop__overlay:hover {
    opacity : 0.4;
    background: black;
    
}

.profileContainer__details input {
    outline: none;
    border-style: none;
    padding-inline: 10px;
    padding-block: 9px;
    width :fit-content;

}

.nameEdit {
    font-size: 1.5rem;
    font-weight: bold;
}

.updateProfileBtn {
    padding-inline: 0.8rem;
    padding-block: 0.3rem;
    background: rgba(3, 93, 183, 0.905);
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    width: fit-content;
}

.profileContainer__details textarea {
    outline: none;
    border: none;
    padding-inline: 10px;
    padding-block : 9px;
    font-family: "Poppins" !important;
    font-size: 1.1rem;

}

.addWorkBtn{
    padding-inline: 1.3rem;
    background: white;
    border: 1px dotted silver;
    border-radius: 10px;
    cursor: pointer;
    padding-block:1.2rem;

}

.commentsContainer {
    position: fixed;
    width:100vw;
    height: 100vh;
    top:0;
    left:0;
    z-index: 5;
    background: rgba(0,0,0,0.7);
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
}

.allCommentsConatiner {
    width: 40vw;
    height: fit-content;
    background: white;
    border-radius :10px;
    position: relative;
    padding: 1.4rem;
    display:flex;
    flex-direction: column;
    gap: 1.2rem;
}

.inputField {
    padding-inline :1.3rem;
    padding-block: 0.8rem;
    outline: none;
    border-radius: 10px;
    border: 1px solid silver;

}