.container {
    padding: 1.3rem;
    background: rgb(230, 230, 230);
}

.backDropContainer {
    width: 100%;
    height: 30vh;
    background: url("https://tse1.mm.bing.net/th/id/OIP.zbv4A57onPleikp9LWKLhwHaCa?cb=ucfimgc2&rs=1&pid=ImgDetMain&o=7&rm=3");
    background-size: cover;
    background-repeat: none;
    position:relative;
    border-radius:20px;

}

.backDropContainer img{
    width: 10em;
    height: 10em;
    object-fit:cover;
    border-radius: 50%;
    position: absolute;
    bottom: -30%;
    left :8%;
    text-align: center;


}