/* [project]/app/Layout/DashboardLayout/Dashboard.module.css [app-client] (css) */
.Dashboard-module__6WC9ya__homeContainer {
  display: flex;
}

.Dashboard-module__6WC9ya__homeContainer > div:nth-child(odd) {
  flex: .2;
}

.Dashboard-module__6WC9ya__homeContainer > div:nth-child(2n) {
  flex: .6;
}

.Dashboard-module__6WC9ya__homeContainer__leftBar {
  border-right: 1px solid #e2dede;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
  display: flex;
}

.Dashboard-module__6WC9ya__sideBarOptions {
  cursor: pointer;
  align-items: flex-start;
  gap: 1rem;
  width: 80%;
  max-width: 100%;
  margin: 0;
  padding-left: .2rem;
  font-size: 1.2rem;
  transition: all .2s;
  display: flex;
}

.Dashboard-module__6WC9ya__sideBarOptions:hover {
  transform: scale(1.01);
}

.Dashboard-module__6WC9ya__sideBarOptions > svg {
  min-width: 1.2em;
  max-width: 1.2em;
}

.Dashboard-module__6WC9ya__homeContainer__extracontainer {
  border-left: 1px solid #dedede;
  padding-left: 1.2rem;
}

.Dashboard-module__6WC9ya__homeContainer__feedContainer {
  padding-left: .8rem;
  padding-right: .8rem;
}

/* [project]/app/Components/Navbar/Navbar.module.css [app-client] (css) */
.Navbar-module__lmnXZq__container {
  padding: 1.2rem;
  top: 0;
}

.Navbar-module__lmnXZq__navBar {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.Navbar-module__lmnXZq__navBaroptionContainer {
  display: flex;
}

.Navbar-module__lmnXZq__navBar p {
  align-items: center;
  margin: 0;
  display: flex;
}

.Navbar-module__lmnXZq__buttonJoin {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #b12878;
  border-radius: 20px;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: .8rem;
  padding-top: .6rem;
  padding-bottom: .6rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  font-size: 1.4rem;
  transition: all .2s;
}

/* [project]/app/view_profile/[username]/viewProfile.module.css [app-client] (css) */
.viewProfile-module__rrYFRW__container {
  background: #e6e6e6;
  padding: 1.3rem;
}

.viewProfile-module__rrYFRW__backDropContainer {
  background: url("https://tse1.mm.bing.net/th/id/OIP.zbv4A57onPleikp9LWKLhwHaCa?cb=ucfimgc2&rs=1&pid=ImgDetMain&o=7&rm=3") 0 0 / cover;
  background-repeat: none;
  border-radius: 20px;
  width: 100%;
  height: 30vh;
  position: relative;
}

.viewProfile-module__rrYFRW__backDropContainer img {
  object-fit: cover;
  text-align: center;
  border-radius: 50%;
  width: 10em;
  height: 10em;
  position: absolute;
  bottom: -30%;
  left: 8%;
}

.viewProfile-module__rrYFRW__profileContainer__details {
  padding-top: 6.6rem;
}

.viewProfile-module__rrYFRW__card {
  align-items: center;
  gap: 1.4rem;
  display: flex;
}

.viewProfile-module__rrYFRW__card__profileContainer {
  display: flex;
}

.viewProfile-module__rrYFRW__card__profileContainer > img {
  object-fit: cover;
  width: 3.4rem;
  height: 3.4rem;
}

.viewProfile-module__rrYFRW__connectBtn {
  color: #fff;
  cursor: pointer;
  background: rgba(3, 93, 183, .906);
  border: none;
  border-radius: 10px;
  outline: none;
  padding-top: .3rem;
  padding-bottom: .3rem;
  padding-left: .8rem;
  padding-right: .8rem;
}

.viewProfile-module__rrYFRW__workHistoryContainer {
  flex-wrap: wrap;
  gap: 1.4rem;
  width: 100%;
  padding-top: 1.4rem;
  display: flex;
}

.viewProfile-module__rrYFRW__workHistoryCard {
  border-radius: 10px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  box-shadow: 10px 10px 15px #adadad;
}

/*# sourceMappingURL=app_9d1c0ec7._.css.map*/