.scrollComponent {
    display:flex;
    justify-content: center;
}
.createPostContainer {
    display:flex;
    height:10svh;
    width:70%;
    padding-inline: 0.8rem;
    gap:1.3rem;
    position: relative;
    align-items: center;
    background-color: rgb(255, 246, 246);
    border-radius: 20px;

}

.uploadButton {
    position: absolute;
    right: 0;
    bottom : -12px;
    background-color: rgb(40, 40, 61);
    color:white;
    border-radius: 10px;
    padding-inline: 1.2rem;
    padding-bottom: 0.8rem;
    cursor: pointer;
}

.userProfile{
    border-radius: 100%;
    height:60%;
    width:fit-content;
}
.createPostContainer >textarea {
    width:100%;

}
.Fab {
    background: rgb(0, 59, 130);
    border-radius: 100%;
    justify-content: center;
    display:flex;
}
.Fab > svg{
    width:fit-content;
    height: 40px;
    color: white;
}
.textareaofContent{
    width: 80%;
    height :70%;
    border: 1px solid silver;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    outline:none;

}