.scrollComponent {
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.createPostContainer {
    display:flex;
    height:10svh;
    width:100%;
    padding-inline: 0.8rem;
    gap:1.3rem;
    position: relative;
    align-items: center;
    background-color: rgb(255, 246, 246);
    border-radius: 20px;

}

.uploadButton {
    position: absolute;
    right: 0;
    bottom : -12px;
    background-color: rgb(40, 40, 61);
    color:white;
    border-radius: 10px;
    padding-inline: 1.2rem;
    padding-bottom: 0.8rem;
    cursor: pointer;
}

.userProfile{
    border-radius: 100%;
    height:60%;
    width:fit-content;
}
.createPostContainer >textarea {
    width:100%;

}
.Fab {
    background: rgb(0, 59, 130);
    border-radius: 100%;
    justify-content: center;
    display:flex;
}
.Fab > svg{
    width:fit-content;
    height: 40px;
    color: white;
}
.textareaofContent{
    width: 80%;
    height :70%;
    border: 1px solid silver;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    outline:none;

}

.wrapper{
    display: flex;
    flex-direction: column;
    gap:1.3rem;
}

.singleCard{
    width:100%;
    border-radius: 10px 10px 0px 0px;
    border-radius: 1px solid rgb(179, 179, 179);
    margin-bottom: 1.5rem;
    padding : 1rem;

}
.singleCard__image img {
    width:100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 1rem;
}
.singleCard__profileContainer{
    display:flex;
    align-items: center;
    gap: 1.2rem;
    padding: 1.2rem;
    padding-right: 3.4rem;
}

.singleCard__profileContainer>img {
    width: 10%;
    border-radius: 50%;
}

.singleCard__image {
    width: 100%;
    height:auto;
    object-fit: cover;
    border-radius: 20px;
}

.optionsContainer {
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: space-between;
    padding-block: 0.6rem;
}

.singleOption__optionsContainer > svg {
    height :100%;
    width: 8%;
}

.singleOption__optionsContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    cursor: pointer;
    }

    .commentContainer {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top :0;
        left : 0;
        z-index: 2;
        background: rgb(0,0,0,0.7);
        overflow: hidden;
        justify-content: center;
        display:flex;
        align-items: center;
    }
